{% extends 'plantilla.html' %} 

{% block title%}
Curso de Meditacion
{%  endblock%}

{% block header %}
<h2> Cómo poder calmar tus pensamientos, para una vida plena, llena de felicidad</h2>
{% endblock %}
{% block content%}
 Si el estrés causa que estés ansioso, tenso y preocupado, considera practicar meditación. Dedicar aunque solo sea unos minutos a la meditación puede ayudar a recuperar tu calma y paz interior.
<br>
Cualquier persona puede meditar. Es una actividad simple y económica, que no requiere ningún equipo especial.
<br>
Puedes practicar la meditación dondequiera que estés; si das un paseo, en el autobús, cuando esperas en el consultorio del médico, o incluso en medio de una difícil reunión de negocios.
Para entender la meditación

Tipos de meditación

Recuerda, por ejemplo, que es común que tu mente divague mientras meditas, sin importar cuánto tiempo has estado practicando la meditación. Si estás meditando para calmar la mente y tu atención divaga, lentamente vuelve al objeto, la sensación, o el movimiento en que estás concentrándote.

Experimenta, y probablemente descubrirás qué tipos de meditación son mejores para ti y qué disfrutas. Adapta la meditación a lo que necesites en ese momento. Recuerda, no hay una manera correcta ni una incorrecta para meditar. Lo que importa es que la meditación te ayude a reducir el estrés y a sentirte mejor en general.
{% endblock %}

{% block sidebar %}
Lado bar
{% endblock %}





